<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    
</head>
<body>
 

    <div class="container body-content">
        @RenderBody()
        <script src="~/Content/javascript.js"></script>
      
    </div>


</body>
</html>
