
@{
    ViewBag.Title = "FAQ";
}


<body class="Website_body">
 
    <body>
        <h2 id="freqaskedheader">Frequently Asked Questions</h2>
        <article class="faq-container">


            <section class="faq-question">
                <h3>Question 1: What types of clothes do you sell?</h3>
                <p>Answer: We offer a wide range of clothes including hoodies, shirts, and sunglasses.</p>
            </section>

            <section class="faq-question">
                <h3>Question 2: How can I track my order?</h3>
                <p>Answer: Once your order is shipped, you will receive a tracking number via email to monitor your delivery.</p>
            </section>

            <section class="faq-question">
                <h3>Question 3: Can I return or exchange items?</h3>
                <p>Answer: Yes, we have a hassle-free return and exchange policy. Please check our <a href="#">Return Policy</a> for details.</p>
            </section>

            <section class="faq-question">
                <h3>Question 4: Are the clothes sustainable?</h3>
                <p>Answer: We are committed to sustainability. Our clothes are made from eco-friendly materials, and we follow ethical practices in production.</p>
            </section>

            <section class="faq-question">
                <h3>Question 5: How do I contact customer support?</h3>
                <p>Answer: You can reach our customer support team through our <a href="#">Contact Us</a> page or by emailing support@hotmail.com</p>
            </section>

            <!-- Add more FAQ sections as needed -->

        </article>

        <aside class="additional-info">
            <h2>Additional Information</h2>

            <section>
                <h3>Shipping Information:</h3>
                <p>Find details about our shipping methods, delivery times, and associated costs.</p>
            </section>

            <section>
                <h3>Size Guide:</h3>
                <p>Not sure about your size? Consult our size guide to ensure a perfect fit.</p>
            </section>

            <section>
                <h3>Latest Offers:</h3>
                <p>Check out our current promotions and special offers on selected items.</p>
            </section>
        </aside>


    </body>
