@{
    ViewBag.Title = "About-us";
}
<body class="Website_body">
    <article class="aboutus_text">
        <p class="whoishassan"><b>Who is <span>Hassan El-Tobgy</b></span> </p>
        <h6>
            Hassan El-tobgy is The Owner of Tobgy's Company ,he was originally graduated From Faculty of Engineering <br> <span>Aib Shams University</span>  in 2025
            Hassan is working for Multiple international Companies in the field of computer <br>
            engineering  beside his own business The Idea of starting Hassan's own business came in 2027
            It was not <br> until 2029 that Hassan Decided to Start The company Providing Prodcuts to be purchased online with best <br>
            prices in the filed.
        </h6>

        <ul>
            <br>
            <li class="orderd_list_contact"><p id="aimheader">Our Aim: Elevating Your Lifestyle, Seamlessly.</p></li>
            <h6>
                Welcome to <span>Tobgy's</span>, where innovation meets style, and convenience converges with quality. Our mission is <br>
                to transform the way you experience online shopping, offering a curated selection of fashion-forward clothing, <br>
                trendsetting footwear, cutting-edge software solutions, and the latest in mobiles and laptops.
            </h6>
            <section id="seeopeningsection">
                <button id="seestorebtn">See Store Opening Video</button>
                <video id="storeVideo" width="500" height="500" controls style="display: none;">
                    <source src="Videos/Storeopening.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <button id="hidestorebtn" style="display: none;">Hide Store opening</button>
            </section>

        </ul>
    </article>
    <br>
    <br>
    <br>
    <br>
    <br>
    </body>