@{
    ViewBag.Title = "Contact";
}
<body class="Website_body">
    
    <div class="contact">
        <div class="content">
            <h2>Contact-us </h2>

        </div>
        <div class="container_contact">

            <div>
                <form class="contactform">
                    <label for="name" class="nice-label"><b>Enter Your name</b></label>
                    <input type="text" name="Name" placeholder="Your name" id="name" required>
                    <label for="email" class="nice-label"><b>Enter Your mail</b></label>
                    <input type="email" name="email" placeholder="Your email" id="email" required>
                    <label for="Message" class="nice-label"><b>Message</b></label>
                    <textarea name="Message" rows="4" placeholder="Your Message" id="Message" required></textarea>
                    <button type="Submit" class="btn"><b>Send</b></button>

                </form>
            </div>





        </div>
    </div>
    </body>

