@{
    ViewBag.Title = "Home Page";
}


<body class="Website_body">

   
    <section id="hero">
        <h1>Black Friday up tp <span>50%</span></h1>
        <h2> Super value deals </h2>
        <h4>On all products</h4>
        <p><b>Save more with coupons &up to 70% off!</b></p>
        <button onclick="shopnow()"><b>Shop now</b> </button>




    </section>




</body>